<div style="height: 30px"></div>
<div id="verticalnavbar" class="span-3">
<ul>
	<li><a id="occup_link" href="#">Occupation</a> </li>
	<li><a id="loc_link" href="#">Location</a> </li>
	<li><a id="gend_link" href="#">Gender</a> </li>
	<li><a id="paychk_link" href="#">Paycheck</a> </li>
</ul>

</div>

<div id="userform" class="span-12">


		<p>Enter information about your occupation, geographic location, gender and on what basis you would like to view your income to see the wage gap</p>



	<%= form_tag("/showmemoney", :method => "get") do %>

	<div id="occupation">
  		<%= label_tag(:q, "Start typing your job title") %> <br/>
  		<%= text_field :salarycomjob, :jobtitle, :size => 50,  :class => 'searchbox'  %>
  		<%= hidden_field_tag :jobcode %> <br/>	

		<a id="nextlink1" href="#" class="button orange">Next</a>

	</div>


	<div id="location">
		<label for="zipcode">Start typing city or zipcode</label> <br/>

		<%= text_field :zip, :code, :size =>50, :class => 'searchbox' %>
		<br/>
		<a id="nextlink2" href="#" class="button orange">Next</a>
	</div>


	<div id="gender">
		<h5>Select gender</h5> 
		<input type="radio" name="gender_radio" value="Male"> Male<br/>
		<input type="radio" name="gender_radio" value="Female">Female<br/>
		<a id="nextlink3" href="#" class="button orange">Next</a>

	</div>

	<div id="paycheck">
		<h5>Select Paycheck type</h5>
		<input type="radio" name="paychk_radio" value="52.177"> Yearly Salary<br/>
		<input type="radio" name="paychk_radio" value="4.348"> Monthly Salary <br/>
		<input type="radio" name="paychk_radio" value="0.025"> Hourly Wages <br/>
	    <%= submit_tag("Show me the money", :id => "showmemoney", :class => "button orange") %>
	<% end %>

	</div>

	<%= content_tag "div", id:"mydatadiv", data: {chartdata: @highchartdata, wagegaptrend: @wagegaptrend }   do %>
	<% end %>





</div>

<div class= "span-16 last" style="height: 50px">


</div>

<div id="chartscontainer" class="span-16 last">

	</div>
	<div class= "span-16 last" style="height: 30px">


	</div>
	<div id="chartscontainer2" class="span-16 last">

	</div>
<div class="span-24 last">


<a href="#" id= "methodology_link">Methodology</a>


</div>
<div id="methodology_dialog" style="display: none" title="How are these charts generated?">
<p>The graphs were generated using data from the Bureau of Labor Statistics (http://www.bls.gov/cps/) and from Salary.com.  We used the BLS data to estimate the gender wage gap, G = (Wf/Wm) for each occupation, where Wf is the median wage for women and Wm is median wage for men in those data.  These data also gave us the percent of women in each occupation, pf = Nf/(Nf+nM), where Nf is the number of women in each occupation and Nm is the number of men.  We used the Salary.com data to estimate the median salary (W) for each occupation.  Applying G and pf to the Salary.com salary median for each occupation, we can back out of median salary by gender, SF and SM displayed in the graphs:
SM = W/(pf*G + 1 – pf)
SF = GW/(pf*G + 1 – pf)
</p>
</div>