<div style="height: 30px"></div>


<div id="userform" class="span-12">
	

		<p>Enter information about your occupation, geographic location, gender and on what basis you would like to view your income to see the wage gap</p>
		


	<%= form_tag("/showmemoney", :method => "get") do %>
		
	<div id="occupation">
  		<%= label_tag(:q, "Start typing your job title") %> <br/>
  		<%= text_field :salarycomjob, :jobtitle, :size => 50,  :class => 'searchbox'  %>
  		<%= hidden_field_tag :jobcode %> <br/>	
				
	</div>
	
	
	<div id="location">
		<label for="zipcode">Start typing city or zipcode</label> <br/>
		
		<%= text_field :zip, :code, :size =>50, :class => 'searchbox' %>
		<br/>
		
	</div>

	     <%= submit_tag("Show me the money", :id => "showmemoney", :class => "button orange") %>

	<% end %>
    
	
	
	<%= content_tag "div", id:"mydatadiv", data: {chartdata: @highchartdata, wagegaptrend: @wagegaptrend }   do %>
	<% end %>


	

	
</div>

<div class= "span-16 last" style="height: 50px">
	
	
</div>

<div id="chartscontainer" class="span-16 last">
		
	</div>
	<div class= "span-16 last" style="height: 30px">
		
		
	</div>
	<div id="chartscontainer2" class="span-16 last">
		
	</div>
<div class="span-24 last">


<a href="#" id= "methodology_link">Methodology</a>
<%= debug params %>

</div>
<div id="methodology_dialog" style="display: none" title="How are these charts generated?">
<p>The graphs were generated using data from the Bureau of Labor Statistics (http://www.bls.gov/cps/) and from Salary.com.  We used the BLS data to estimate the gender wage gap, G = (Wf/Wm) for each occupation, where Wf is the median wage for women and Wm is median wage for men in those data.  These data also gave us the percent of women in each occupation, pf = Nf/(Nf+nM), where Nf is the number of women in each occupation and Nm is the number of men.  We used the Salary.com data to estimate the median salary (W) for each occupation.  Applying G and pf to the Salary.com salary median for each occupation, we can back out of median salary by gender, SF and SM displayed in the graphs:
SM = W/(pf*G + 1 – pf)
SF = GW/(pf*G + 1 – pf)
</p>
</div>


