<div id="header" class="span-24 last">
<%=link_to (image_tag "logo.png", :title => "Logo", :size => "500x150", :id => "logo") , root_path %>

</div>
<div id="mainmenu" class="span-24 last">
	<ul id="navbar">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Show me the money", showmemoney_path %></li>
		<li><%= link_to "Ask for it", '#' %>
			<ul class="submainmenu">
				<li><%= link_to "Negotiation Tips", tips_path %></li>
				<li><%= link_to "Practice Videos", videos_path %></li>
				<li><%= link_to "Job Negotiation Cheat Sheet", '/Negotiation_CheatSheet.pdf'%></li>
			</ul>
		</li>
		<li><%= link_to "Find out more", more_path %></li>
      
	</ul>
</div>