<div id="header" class="span-24 last">
<%=link_to (image_tag "logo.png", :title => "Logo", :size => "500x150", :id => "logo") , root_path %>

</div>
<div id="mainmenu" class="span-24 last">
	<ul id="navbar">
		<li><%= link_to "Home", home_path %></li>
		<li><%= link_to "Get the fact", getthefact_path %></li>
		<li><%= link_to "Get the plan", gettheplan_path %></li>
			<!--<ul class="submainmenu">
				<li><%= link_to "Negotiation Tips", tips_path %></li>
				<li><%= link_to "Practice Videos", videos_path %></li>
				<li><%= link_to "Job Negotiation Cheat Sheet", '/Negotiation_CheatSheet.pdf'%></li>
			</ul>-->
		
		<li><%= link_to "Get public", getpublic_path %></li>
      
	</ul>
</div>