<!DOCTYPE html>
<html>
<head>
  <title>Get Even Now</title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
 
</head>
<body>
	
	<div  class="container">
		<div id="topspacer"></div>
		<div id="page_container" class="span-24 last">
			<%= render 'layouts/header' %>
			<div id="content">
				<div id="mainsection" class="span-16 append-1">
				<%= yield %>	
				</div>
				</div>
			</div>		
			<%= render 'layouts/footer'%>
		<div id="bottomspacer"></div>

   <%= render 'layouts/standarddisclaimer' %>

</body>
</html>
