<!DOCTYPE html>
<html>
<head>
  <title>Equal Pay</title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
	
	<div  class="container">
		<div id="topspacer"></div>
		<div id="page_container" class="span-24 last">
			<%= render 'layouts/header' %>
			<div id="content">
				<div id="mainsection" class="span-16 append-1">
				<%= yield %>	
				</div>
				<div id="sidebar" class="span-6 last">
				<%= render 'layouts/sidebar'%>
				

				</div>



			</div>
			
			<%= render 'layouts/footer'%>
		</div>
		
		</div>
		<div id="bottomspacer"></div>



</body>
</html>
